:root {
    --card-tittle-border-color: #a33b20;
    --card-color-primary: #FF0000;
    --color-bg-card: #1d1c19;
    --bg-color: #121214;
    --li-border-color: #323238;
    --text-color: #e1e1e6;
    --Neon-Red: #FF0000FF;
    --Vinho: #280000;
    --Playboy-Pink: #B45360;
    --Glowing-Pink: #FF03F2;
    --Hot-Pink: #FF05BE;
    --Galaxy-Purple: #3503FF;
    --Ballin-Blue: #0A17EA;
    --Lovely-Lilac: #2F2B3B;
    --Chrome-Gold: #ffd859;
    --Bling-Purple: #28006D;
    --Trippy-Green: #00FF7F;
    --Subtle-Orange: #FF6347;
    --Pure-Black: #000000;
    --Neon-Orange: #FF3E00;
    --Pure-White: #FFFFFF;
    --Bright-Ultra-Blue: #0340FF;
    --Dragon-Fruit: #C52943;
    --Neon-Green: #39FF14;
    --Kombu-Green: #343C32AA;
    --Philippine-Gold: #AF6605;
    --Red-Peach: #FD3333;
    --Periwinkle: #947FFFAA;
    --Neon-Purple: #FD00FFAA;
}