.card {
    background: var(--bg-color);
    width: 19.75rem;
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 6px;
    border-bottom: 2px solid var(--card-color-primary);
}

.card_colors {
    background: var(--bg-color);
    width: 19.75rem;
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 6px;
    border-bottom: 2px solid var(--card-color-primary);
}

.card ul {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.card_colors ul {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.card ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card_colors ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card ul li p {
    font-size: 2rem;
    color: var(--game-hour-color);
}

.card_colors ul li p {
    font-size: 2rem;
    color: var(--game-hour-color);
    width: 100vh;
    border-radius: 8px;
}

.card ul li + li {
    padding-top: 1.5rem;
    border-top: 1px solid var(--li-border-color);
}

.card_colors ul li + li {
    padding-top: 1.5rem;
    border-top: 1px solid var(--li-border-color);
}

section h2:hover {
    transform: scale(1.1);
}

section h2 {
    transition: transform 0.3s;
}

li p:hover {
    transform: scale(1.1);
}

li p {
    transition: transform 0.3s;
}

.neon_red p {
    background: var(--Neon-Red);
}

.vinho p {
    background-color: var(--Vinho);
}

.playboy_pink p {
    background-color: var(--Playboy-Pink);
}

.glowing_pink p {
    background-color: var(--Glowing-Pink);
}

.hot_pink p {
    background-color: var(--Hot-Pink);
}

.galaxy_purple p {
    background-color: var(--Galaxy-Purple);
}

.ballin_blue p {
    background-color: var(--Ballin-Blue);
}

.lovely_lilac p {
    background-color: var(--Lovely-Lilac);
}

.chrome_gold p {
    background-color: var(--Chrome-Gold);
}

.bling_purple p {
    background-color: var(--Bling-Purple);
}

.trippy_green p {
    background-color: var(--Trippy-Green);
}

.subtle_orange p {
    background-color: var(--Subtle-Orange);
}

.pure_black p {
    background-color: var(--Pure-Black);
}

.neon_orange p {
    background-color: var(--Neon-Orange);
}

.pure_white p {
    background-color: var(--Pure-White);
}

.bright_ultra_blue p {
    background-color: var(--Bright-Ultra-Blue);
}

.dragon_fruit p {
    background-color: var(--Dragon-Fruit);
}

.neon_green p {
    background-color: var(--Neon-Green);
}

.kombu_green p {
    background-color: var(--Kombu-Green);
}

.philippine_gold p {
    background-color: var(--Philippine-Gold);
}