@media (min-width:700px) {
    body {
        background-image: url(../assets/bg\ desktop.jpg);
    }
    main {
        flex-direction: row;
        max-width: 74rem;
        flex-wrap: wrap;
    }

    section {
        margin-inline: 0;
        max-width: 17rem;
    }
}